/*
	@name treball_o_ble_movil
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 375px;  margin-left: auto; margin-right: auto;  }

#_bg__contacta_amb_nosaltres {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 667px;
	background:rgba(255,255,255,1);
}


#vector {
	top: 55px;
	left: 0px;
	width: 375px;
	height: 796px;
}

#perfil{
	top: 6px;
	left: 320px;
	width: 40px;
	height: 40px;
}

#fonsblanc {
	top: 67px;
	left: 17px;
	width: 343px;
	height: 773px;
	border: 1px solid #d2d2d2;
	background:rgba(255,255,255,1);
}


#banner {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 55px;
	background:rgba(255,255,255,1);
}




#vector_ek2 {
	top: 11px;
	left: 322px;
	width: 35px;
	height: 35px;
}


#instagram {
	top: 688px;
	left: 50px;
	width: 340px;
	height: 154px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 16px;
	text-align: left;
	color:#000000;
}


#_o_ble {
	top: 6px;
	left: 139px;
	width: 120px;
	height: 67px;
	overflow: hidden;
	font-family: Arial Rounded MT Bold;
	font-size: 36px;
	text-align: left;
	color:#0C4385;
}


#tens_cap_dubte__contactan_s {
	top: 93px;
	left: 61px;
	width: 272px;
	height: 34px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color:#10335D;
}


#info{
	top: 381px;
	left: 50px;
	width: 353px;
	height: 244px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#les_nostres_xarxes_socials {
	top: 640px;
	left: 61px;
	width: 268px;
	height: 35px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#11345D;
}


#envian_s_un_e_mail_ {
	top: 324px;
	left: 83px;
	width: 237px;
	height: 47px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#11345D;
}


#capt {
	top: 154px;
	left: 136px;
	width: 103px;
	height: 130px;
}

#group {
	top: 74px;
	left: 27px;
	width: 22px;
	height: 19.25px;
}

#flecha {
	top: 0px;
	left: 0px;
	width: 9.63px;
	height: 19.25px;
}


#vector_ek4 {
	top: 10px;
	left: 0px;
	width: 22px;
	height: 0px;
}



/* Add your custom CSS here */
