
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }


img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }


div { position: absolute; }

#menuToggle
{
	margin: 0;
  display: block;
  position: relative;
  top: 2.7rem;
  left: 1rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #0BF7B9;
}


#menuToggle input
{
  display: block;
  width: 2.5rem;
  height: 2rem;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 2.0625rem;
  height: 0.25rem;
  margin-bottom: 0.3125rem;
  position: relative;

  background: #0B4384;
  border-radius: 0.1875rem;

  z-index: 1;

  transform-origin: 0.25rem 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-0.125rem, -0.0625rem);
  background: #0BF7B9;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -0.0625rem);
}

#menu
{
  position: absolute;
  width: 18.75rem;
  margin: -6.25rem 0 0 -3.125rem;
  padding: 3.125rem;
  padding-top: 7.8125rem;

  background: #0B4384;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;


  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 0.625rem 0;
  font-size: 1.375rem;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}





#content-container {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#_bg__esdeveniments {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 667px;
	background:rgba(255,255,255,1);
}


#vector {
	top: 55px;
	left: 0px;
	width: 375px;
	height: 899px;
}


#banner {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 55px;
	background:rgba(255,255,255,1);
}


#perfil{
	top: 6px;
	left: 320px;
	width: 40px;
	height: 40px;
}


#vector_ek2 {
	top: 11px;
	left: 322px;
	width: 35px;
	height: 35px;
}


#_o_ble {
	top: 7px;
	left: 139px;
	width: 120px;
	height: 67px;
	overflow: hidden;
	font-family: Arial Rounded MT Bold;
	font-size: 36px;
	text-align: left;
	color:#0C4385;
}


#_rectangle_15 {
	top: 173px;
	left: 18px;
	width: 160px;
	height: 160px;
	border: 5px solid #f1c57c;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,0);
}

#rectangle_16 {
	top: 173px;
	left: 210px;
	width: 160px;
	height: 160px;
	border: 5px solid #f1c57c;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,0);
}



#rectangle_17 {
	top: 372px;
	left: 18px;
	width: 160px;
	height: 160px;
	border: 5px solid #f1c57c;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,0);
}

#rectangle_18 {
	top: 372px;
	left: 210px;
	width: 160px;
	height: 160px;
	border: 5px solid #f1c57c;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,0);
}


#rectangle_19 {
	top: 571px;
	left: 18px;
	width: 160px;
	height: 160px;
	border: 5px solid #f1c57c;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,0);
}


#rectangle_20 {
	top: 571px;
	left: 210px;
	width: 160px;
	height: 160px;
	border: 5px solid #f1c57c;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,0);
}


#rectangle_21 {
	top: 770px;
	left: 210px;
	width: 160px;
	height: 160px;
	border: 5px solid #f1c57c;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,0);
}


#rectangle_22 {
	top: 770px;
	left: 18px;
	width: 160px;
	height: 160px;
	border: 5px solid #f1c57c;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,0);
}


#uneix_te_als_nostres_esdeveniments_ {
	top: 84px;
	left: 39px;
	width: 315px;
	height: 78px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#_platja_castelldefels {
	top: 220px;
	left: 23px;
	width: 147.5px;
	height: 70.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#_platja_del_prat {
	top: 220px;
	left: 215px;
	width: 147.5px;
	height: 70.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#_platja_rinc_n_de_la_victoria {
	top: 409px;
	left: 215px;
	width: 147.5px;
	height: 89.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#_platja_de_maro {
	top: 419px;
	left: 23px;
	width: 147.5px;
	height: 70.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#_platja_la_manga {
	top: 618px;
	left: 23px;
	width: 147.5px;
	height: 70.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#_platja_la_llana {
	top: 618px;
	left: 215px;
	width: 147.5px;
	height: 70.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#_platja_de_pinedo {
	top: 817px;
	left: 215px;
	width: 147.5px;
	height: 70.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#_platja_el_caba_al {
	top: 817px;
	left: 23px;
	width: 147.5px;
	height: 70.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}



/* Add your custom CSS here */
