/*
	@name treball_o_ble_movil
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 375px;  margin-left: auto; margin-right: auto;  }

#_bg__info {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 667px;
	background:rgba(255,255,255,1);
}


#banner {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 55px;
	background:rgba(255,255,255,1);
}


#vector {
	top: 55px;
	left: 0px;
	width: 375px;
	height: 654px;
}


#vector_ek1 {
	top: 17.36px;
	left: 333.14px;
	width: 12.73px;
	height: 12.73px;
}


#vector_ek2 {
	top: 11px;
	left: 322px;
	width: 35px;
	height: 35px;
}


#_o_ble {
	top: 6px;
	left: 139px;
	width: 120px;
	height: 67px;
	overflow: hidden;
	font-family: Arial Rounded MT Bold;
	font-size: 36px;
	text-align: left;
	color:#0C4385;
}


#qui_som{
	top: 188px;
	left: 15px;
	width: 353px;
	height: 442px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 14px;
	text-align: left;
	color:#FFFFFF;
}

#group_3 {
	top: 81px;
	left: 132px;
	width: 107px;
	height: 107px;
}

#vector_ek3 {
	top: 0px;
	left: 0px;
	width: 107px;
	height: 107px;
}


#vector_ek4 {
	top: 48px;
	left: 48px;
	width: 10.19px;
	height: 28.02px;
}


#vector_ek5 {
	top: 28px;
	left: 47px;
	width: 12.74px;
	height: 12.74px;
}

#group {
	top: 75px;
	left: 15px;
	width: 22px;
	height: 19.25px;
}

#vector_ek6 {
	top: 0px;
	left: 0px;
	width: 9.63px;
	height: 19.25px;
}


#vector_ek7 {
	top: 10px;
	left: 0px;
	width: 22px;
	height: 0px;
}



/* Add your custom CSS here */
