/*
	@name treball_o_ble_movil
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 375px;  margin-left: auto; margin-right: auto;  }

#_bg__premis {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 667px;
	background:rgba(255,255,255,1);
}


#vector {
	top: 51px;
	left: 0px;
	width: 375px;
	height: 1046px;
}


#banner {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 55px;
	background:rgba(255,255,255,1);
}


#vector_ek1 {
	top: 17.36px;
	left: 333.14px;
	width: 12.73px;
	height: 12.73px;
}


#vector_ek2 {
	top: 11px;
	left: 322px;
	width: 35px;
	height: 35px;
}


#_o_ble {
	top: 7px;
	left: 139px;
	width: 120px;
	height: 67px;
	overflow: hidden;
	font-family: Arial Rounded MT Bold;
	font-size: 36px;
	text-align: left;
	color:#0C4385;
}


#rectangle_42 {
	top: 879.44px;
	left: 5px;
	width: 189.15px;
	height: 189.15px;
}


#rectangle_53 {
	top: 1014.9px;
	left: 39.17px;
	width: 120.81px;
	height: 34.17px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(254,201,2,1);
}


#val_ncia {
	top: 1024.66px;
	left: 75.78px;
	width: 94.54px;
	height: 32.53px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#19A1A7;
}

#group {
	top: 1018.56px;
	left: 42.83px;
	width: 25.11px;
	height: 30.51px;
}

#vector_ek3 {
	top: 0px;
	left: 0px;
	width: 25.11px;
	height: 30.51px;
}


#rectangle_41 {
	top: 879.44px;
	left: 179px;
	width: 189.15px;
	height: 189.15px;
}


#rectangle_54 {
	top: 1014.9px;
	left: 211.95px;
	width: 120.81px;
	height: 34.17px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(254,201,2,1);
}


#val_ncia_ek1 {
	top: 1024.66px;
	left: 249.78px;
	width: 94.54px;
	height: 32.53px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#19A1A7;
}

#group_ek1 {
	top: 1018.56px;
	left: 216.83px;
	width: 25.11px;
	height: 30.51px;
}

#vector_ek4 {
	top: 0px;
	left: 0px;
	width: 25.11px;
	height: 30.51px;
}


#rectangle_37 {
	top: 85px;
	left: 5px;
	width: 189.15px;
	height: 189.15px;
}


#rectangle_49 {
	top: 231.44px;
	left: 35.51px;
	width: 120.81px;
	height: 30.51px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(254,201,2,1);
}


#barcelona {
	top: 236px;
	left: 76px;
	width: 98px;
	height: 33px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#19A1A7;
}

#group_ek2 {
	top: 231.44px;
	left: 42.83px;
	width: 25.11px;
	height: 30.51px;
}

#vector_ek5 {
	top: 0px;
	left: 0px;
	width: 25.11px;
	height: 30.51px;
}


#rectangle_38 {
	top: 85px;
	left: 179px;
	width: 189.15px;
	height: 189.15px;
}


#rectangle_50 {
	top: 231.44px;
	left: 213.17px;
	width: 120.81px;
	height: 30.51px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(254,201,2,1);
}


#barcelona_ek1 {
	top: 236px;
	left: 250px;
	width: 98px;
	height: 33px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#19A1A7;
}

#group_ek3 {
	top: 231.44px;
	left: 216.83px;
	width: 25.11px;
	height: 30.51px;
}

#vector_ek6 {
	top: 0px;
	left: 0px;
	width: 25.11px;
	height: 30.51px;
}


#rectangle_40 {
	top: 349.81px;
	left: 5px;
	width: 189.15px;
	height: 189.15px;
}


#rectangle_54_ek1 {
	top: 490.15px;
	left: 39.17px;
	width: 120.81px;
	height: 30.51px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(254,201,2,1);
}


#m_laga {
	top: 498.69px;
	left: 79.44px;
	width: 94.54px;
	height: 32.53px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#19A1A7;
}

#group_ek4 {
	top: 490.15px;
	left: 42.83px;
	width: 25.11px;
	height: 30.51px;
}

#vector_ek7 {
	top: 0px;
	left: 0px;
	width: 25.11px;
	height: 30.51px;
}


#rectangle_39 {
	top: 349.81px;
	left: 179px;
	width: 189.15px;
	height: 189.15px;
}


#rectangle_51 {
	top: 490.15px;
	left: 213.17px;
	width: 120.81px;
	height: 30.51px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(254,201,2,1);
}


#m_laga_ek1 {
	top: 496.25px;
	left: 253.44px;
	width: 94.54px;
	height: 32.53px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#19A1A7;
}

#group_ek5 {
	top: 490.15px;
	left: 216.83px;
	width: 25.11px;
	height: 30.51px;
}

#vector_ek8 {
	top: 0px;
	left: 0px;
	width: 25.11px;
	height: 30.51px;
}


#rectangle_42_ek1 {
	top: 614.63px;
	left: 5px;
	width: 189.15px;
	height: 189.15px;
}


#rectangle_53_ek1 {
	top: 748.86px;
	left: 39.17px;
	width: 120.81px;
	height: 34.17px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(254,201,2,1);
}


#m_rcia {
	top: 756px;
	left: 79px;
	width: 94.54px;
	height: 32.53px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#19A1A7;
}

#group_ek6 {
	top: 752.53px;
	left: 42.83px;
	width: 25.11px;
	height: 30.51px;
}

#vector_ek9 {
	top: 0px;
	left: 0px;
	width: 25.11px;
	height: 30.51px;
}


#rectangle_41_ek1 {
	top: 614.63px;
	left: 179px;
	width: 189.15px;
	height: 189.15px;
}


#rectangle_52 {
	top: 748.86px;
	left: 208.29px;
	width: 120.81px;
	height: 34.17px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(254,201,2,1);
}


#m_rcia_ek1 {
	top: 758px;
	left: 254px;
	width: 94.54px;
	height: 32.53px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color:#19A1A7;
}

#group_ek7 {
	top: 752.53px;
	left: 216.83px;
	width: 25.11px;
	height: 30.51px;
}

#vector_ek10 {
	top: 0px;
	left: 0px;
	width: 25.11px;
	height: 30.51px;
}


#ellipse_2 {
	top: 610.5px;
	left: 72.5px;
	width: 65.5px;
	height: 11.36px;
}


#ellipse_3 {
	top: 613px;
	left: 246px;
	width: 65.5px;
	height: 11.36px;
}



/* Add your custom CSS here */
