
body {
	overflow-x: hidden;
  background: blue;}

img {
	position: absolute;
	display: block;
	margin: 0;
	border: none;
	padding: 0;
}

input[type=text]{
outline: none;
}

input[type=password]{
outline: none;
}

div { position: absolute; }

#content-container {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#_bg__registre {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 667px;
	background:rgba(255,255,255,1);
}


#fondo_web_1 {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 667px;
}


#rectangle_inicia {
	top: 377px;
	left: 81px;
	width: 214px;
	height: 43px;
	-ms-border-radius: 21px;
	-o-border-radius: 21px;
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	border-radius: 21px;
	background:rgba(120,243,189,1);
}


#rectangle_registre{
	top: 463px;
	left: 49px;
	width: 278px;
	height: 48px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background:rgba(98.37,170.66,233.75,1);
}


#encara_no_tens_usuari_ {
	top: 522px;
	left: 125px;
	width: 135px;
	height: 21px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 12px;
	text-align: left;
	color:#B7B7B7;
}


#has_oblidat_la_teva_contrasenya_ {
	top: 344px;
	left: 101px;
	width: 185px;
	height: 20px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 12px;
	text-align: left;
	color:#ACACAC;
}


#txt_inicia {
	top: 387px;
	left: 157px;
	width: 73px;
	height: 37px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	text-align: left;
	color:#FFFFFF;
}


#txt_registra {
	top: 476px;
	left: 125px;
	width: 124px;
	height: 36px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 18px;
	text-align: center;
	color:#FFFFFF;
}

.tot{
	margin-top: -1.5rem;
}

#vector {
	top: 565px;
	left: 161px;
	width: 55px;
	height: 55px;
}


#vector_ek1 {
	top: 564px;
	left: 268px;
	width: 56px;
	height: 55px;
}


#vector_ek2 {
	top: 564px;
	left: 54px;
	width: 55px;
	height: 55px;
}


#rectangle_34 {
	top: 174px;
	left: 64px;
	width: 73px;
	height: 19px;
	background:rgba(255,255,255,0);
}

#usu {
	top: 205px;
	left: 3rem;
	width: 18rem;
	height: 5rem;
	background-image: url(img/img_signin/espai_usuari.png);
	background-repeat: no-repeat;
	background-position: center bottom 0.5rem;
}

#contra {
	top: 279px;
	left: 3rem;
	width: 18rem;
	height: 5rem;
	background-image: url(img/img_signin/espai_contra.png);
	background-repeat: no-repeat;
	background-position: center bottom 0.5rem;
}

.indicador {
	transform: translateX(1.4rem) translateY(0.8rem);
	position: relative;
	height: 1rem;
	font-family: Roboto;
	font-size: 1.1rem;
	color:#74ADC6;
}



#espai_usuari {
	margin: 0.6rem 0 0 0.5rem;
	left: 0px;
	width: 16.75rem;
	height: 2.5rem;
	border: none;
	font-size: 15px;
	border-radius: 10px;
	border-color: transparent;
}


#group_5 {
	top: 10px;
	left: 0px;
	width: 278.01px;
	height: 47.01px;
}



#group_7 {
	top: 57px;
	left: 123px;
	width: 129.91px;
	height: 43px;
}
#sign_in {
	top: 0px;
	left: 0px;
	width: 128.09px;
	height: 41.17px;
}

#sign_in_ek1 {
	top: 0px;
	left: 0px;
	width: 151.09px;
	height: 66.17px;
	overflow: hidden;
	font-family: Cabin;
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	color:#78F3BD;
}

#sign_in_ek2 {
	top: 2px;
	left: 2px;
	width: 128.09px;
	height: 41.17px;
}

#sign_in_ek3 {
	top: 0px;
	left: 0px;
	width: 151.09px;
	height: 66.17px;
	overflow: hidden;
	font-family: Cabin;
	font-size: 36px;
	font-weight: bold;
	text-align: left;
	color:#62AAE9;
}



/* Add your custom CSS here */
