
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }


div { position: absolute; }

#content-container { display: block; position: relative; width: 375px;  margin-left: auto; margin-right: auto;  }

#_bg__tanca_sessi_ {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 667px;
	background:rgba(255,255,255,1);
}


#fondo_web_1 {
	top: 55px;
	left: 0px;
	width: 375px;
	height: 612px;
}


#fonsblanc {
	opacity:0.70999997854233;
	top: 66px;
	left: 20px;
	width: 343px;
	height: 579px;
	border: 1px solid #d2d2d2;
	background:rgba(255,255,255,0.71);
}


#banner {
	top: 0px;
	left: 0px;
	width: 375px;
	height: 55px;
	background:rgba(39,76,120,1);
}


#perfil_blanco {
	top: 6px;
	left: 320px;
	width: 40px;
	height: 40px;
}




#_o_ble {
	top: 6px;
	left: 139px;
	width: 120px;
	height: 67px;
	overflow: hidden;
	font-family: Arial Rounded MT Bold;
	font-size: 36px;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_tanca{
	top: 481px;
	left: 67px;
	width: 240px;
	height: 46px;
	background:rgba(70,109,192,1);
}


#vols_tancar_la_sessi__ {
	top: 112px;
	left: 69px;
	width: 253px;
	height: 45px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#tanca_txt{
	top: 490px;
	left: 105px;
	width: 182px;
	height: 45px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#FFFFFF;
}


#pez_triste_1 {
	top: 195px;
	left: 84px;
	width: 207px;
	height: 230px;
}


#txt_gris{
	top: 546px;
	left: 68px;
	width: 246.5px;
	height: 68.5px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 13px;
	text-align: center;
	color:#AEAEAE;
}

#group {
	top: 75px;
	left: 27px;
	width: 22px;
	height: 19.25px;
}

#flecha {
	top: 0px;
	left: 0px;
	width: 9.63px;
	height: 19.25px;
}





/* Add your custom CSS here */
